
<form (ngSubmit)="saveContact()" role="form" #contactform="ngForm">
    <input-focus label="First Name" required [propertyName]="firstName" class="form-group form-group-default required" [(ngModel)]="contact.firstName" name="firstName"></input-focus>
    <input-focus label="Last Name" required [propertyName]="lastName" class="form-group form-group-default required" [(ngModel)]="contact.lastName" name="lastName"></input-focus>
    <input-focus label="Title" [propertyName]="title" class="form-group form-group-default" [(ngModel)]="contact.title" name="title"></input-focus>
    <select-focus *ngIf="locations" label="Location" [data]="locations" dataTextField="name" dataValueField="id" [propertyName]="locationId" class="form-group form-group-default" [(ngModel)]="contact.locationId" name="locationId"></select-focus>
    <input-focus label="Email Address" placeholder="[Used for email notifications]" [propertyName]="emailAddress" class="form-group form-group-default" [(ngModel)]="contact.emailAddress" name="emailAddress"></input-focus>
    <input-focus label="Office Phone" [mask]="'(999) 999-9999 99'" maxlength="17" minlength="17" [propertyName]="officePhoneNumber" class="form-group form-group-default" [(ngModel)]="contact.officePhoneNumber" name="officePhoneNumber"></input-focus>
    <input-focus label="Moble Phone" [mask]="'(999) 999-9999 99'" maxlength="17" minlength="17" placeholder="[Used for SMS notifications]" [propertyName]="mobilePhoneNumber" class="form-group form-group-default" [(ngModel)]="contact.mobilePhoneNumber" name="mobilePhoneNumber"></input-focus>
    <input-focus label="Office Phone" [mask]="'(999) 999-9999 99'" maxlength="17" minlength="17" [propertyName]="officePhoneNumber" class="form-group form-group-default" [(ngModel)]="contact.officePhoneNumber" name="officePhoneNumber"></input-focus>
    <input-focus label="Pager" [propertyName]="pagerNumber" class="form-group form-group-default" [(ngModel)]="contact.pagerNumber" name="pagerNumber"></input-focus>
    <input-focus label="Fax" [propertyName]="faxNumber" class="form-group form-group-default" [(ngModel)]="contact.faxNumber" name="faxNumber"></input-focus>
    <button type="submit" [disabled]="!contactform.form.valid || processing" class="btn btn-primary">
        Save Contact <i *ngIf="processing" class="fa fa-spinner fa-spin"></i>
    </button>
    <a *ngIf="!hideCancel" class="btn" (click)="close()">Cancel</a>
</form>