<div class="jumbotron  no-margin" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <h3 class="pull-left">Roles</h3>
            <div class="pull-right">
                <a *permission="'roles-add'" [routerLink]="(['/admin/roles/add'])" class="btn btn-primary"><i class="fa fa-plus"></i> Add Role</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-fixed-lg bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- START PANEL -->
            <div class="panel panel-transparent" [in-progress]="areRolesLoading">
                <div class="panel-heading">
                    <div class="panel-title">
                        Role Listing
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-12">
                            <input type="text" id="searchFor" name="searchFor" (change)="filterChanged()" [(ngModel)]="searchFor" class="form-control pull-right" placeholder="Search">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <data-table [data]="roles" [config]="rolesConfig" (refresh)="loadRoles($event)" [pagination]="rolePagination"></data-table>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
