<!-- START PAGE-CONTAINER -->
<div class="login-wrapper ">
    <!-- START Auth Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <!--<img src="../../assets/images/1.jpg" alt="" class="lazy">-->
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white"></h2>
            <p class="small">
                &copy; 2017 Preferred Precision Group, LLC.
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Auth Background Pic Wrapper-->
    <!-- START Auth Right Container-->
    <router-outlet></router-outlet>

    <!-- END Auth Right Container-->
</div>
<!-- END PAGE CONTAINER -->