
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-left p-b-5">{{title || 'Confirm'}}</h5>
            </div>
            <div class="modal-body">
                {{message || 'Are you sure?'}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
                <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->