@section headers {

    <script type="text/javascript">
        var API_BASE = '@ViewBag.apiUrl';
        var API_VERSION = '@ViewBag.apiVersion';
        var AZURE_FILE_PATH = '@ViewBag.azureFilePath';
    </script>
}
<body class="fixed-header" asp-ng2-prerender-module="ClientApp/dist/main-server">
    Loading...
</body>
