<div class="jumbotron  no-margin" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner" style="transform: translateY(0px); opacity: 1;">
            <h3 class="pull-left">AR Terms</h3>
            <div class="pull-right">
                <a *permission="'arterms-add'" [routerLink]="(['/admin/ar-terms/add'])" class="btn btn-primary"><i class="fa fa-plus"></i> Add AR Term</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-fixed-lg bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- START PANEL -->
            <div class="panel panel-transparent" [in-progress]="areTermsLoading">
                <div class="panel-heading">
                    <div class="panel-title">
                        AR Terms Listing
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-12">
                            <input type="text" id="searchFor" name="searchFor" (change)="filterChanged()" [(ngModel)]="searchFor" class="form-control pull-right" placeholder="Search">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <data-table [data]="arTerms" [config]="termsConfig" (refresh)="loadARTerms($event)" [pagination]="termsPagination"></data-table>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
